Repository ahmedsza/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @salijee, @ahms86, @ahmedsza

Update README.md
  apis/trips/README.md
Owners: @ahms86

Update README.md
  apis/poi/README.md
Owners: @salijee

Update README.md
  apis/user-java/README.md
Owners: @ahmedsza

fixes #21 typo issue
  README.md
Owners: none

Create dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update README.md
  README.md
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  apis/poi/README.md
Owners: @salijee

Update appsettings.json
  apis/poi/tests/IntegrationTests/appsettings.json
Owners: @salijee

Update README.md
  apis/poi/README.md
Owners: @salijee

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @salijee

Create go.yml
  .github/workflows/go.yml
Owners: none

change to readme
  apis/trips/README.md
Owners: @ahms86

Set up CI with Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

fix AB#4 - link to Azure board, Azure pipelint run
  apis/trips/README.md
Owners: @ahms86

fixes AB#5 - azure pipe
  apis/user-java/README.md
Owners: @ahmedsza

change to pipe
  azure-pipelines.yml
Owners: none

fixes AB#6
  apis/user-java/README.md
Owners: @ahmedsza

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Set up CI with Azure Pipelines
  azure-pipelines-1.yml
Owners: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Owners: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Owners: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Owners: none

made a change
  apis/userprofile/README.md
  apis/userprofile/package-lock.json
Owners: @salijee

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @salijee

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @salijee

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update Program.cs
  apis/poi/web/Program.cs
Owners: @salijee

Update Program.cs
  apis/poi/web/Program.cs
Owners: @salijee

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @salijee

.github/CODEOWNERS:

/apis/poi/ @salijee
/apis/trips/ @ahms86
/apis/user-java/ @ahmedsza
/apis/userprofile/ @salijee
